<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/form.css">
    <title>Form</title>
</head>
<body>
    <div id="heading_box">
        <a href="/"><img src="/back.png" /></a> 
        Enter the details below
    </div>
    <div id="form_box">
        <form action="/form" method="POST" >
            <input name="author" type="text" placeholder="Enter the name of author"/>
            <input name="message" type="text" placeholder="Enter the message"/>
            <button type="submit">Submit</button>
        </form>
    </div>    
</body>
</html>