*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    overflow-x: hidden;
}

#heading_box{
    height:10vh;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(2vw);
    z-index: 1000;
    box-shadow: 0 5px 5px rgb(0,0,0,0.5);
    font-weight: 1000;
}

#btn_box{
    width:100%;
    height:fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

#btn_box button{
    margin-top: 2vw;
    width:fit-content;
    font-size: calc(1.25vw);
    height: fit-content;
    padding:calc(0.75vw);
    background-color: lightgreen;
    font-weight: 1000;
    border-radius: calc(0.5vw);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

#btn_box button:hover{
    transform: scale(0.9);
}

#items{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    width:90%;
    justify-content: center;
    align-items: center;
    gap:5%;
    margin-top: 5vh;
    padding:calc(1vw);
}

.item{
    margin-top: calc(1vh);
    margin-bottom: calc(1vh);
    width:30%;
    height:fit-content;
    padding: calc(1vw);
    z-index: 1000;
    box-shadow: 5px 5px 5px rgb(0,0,0,0.5);
    position: relative;
}

.item img{
    position: absolute;
    top:5%;
    right:5%;
    width: 10%;
    height:auto;
    cursor: pointer;
}